<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2>入力内容を確認してください。</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form role="form">
    <div class="card-body">
      <div class="form-group">
        <%= form.label :名前： %><span class="badge badge-danger">必須</span>
        <%= form.text_field :name, class:"form-control", placeholder:"名前を入力してください" %>
      </div>
      <div class="form-group">
        <%= form.label :メールアドレス： %><span class="badge badge-danger">必須</span>
        <%= form.text_field :mail_address, class:"form-control", placeholder:"メールアドレスを入力してください" %>
      </div>
      <div class="form-check">
        <%= form.check_box :email_permission, class:"form-check-input" %>
        <%= form.label :メールの受信を許可する, class:"form-check-label" %>
      </div>
      <div class="form-group">
        <%= form.label :住所： %>
        <%= form.text_field :address, class:"form-control", placeholder:"住所を入力してください" %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= form.label :性別： %>
          <div class="row">
            <div class="form-check col-sm-4">
              <%= form.radio_button :sex, 0 %>
              <%= form.label :男性 %>
            </div>
            <div class="form-check col-sm-4">
              <%= form.radio_button :sex, 1 %>
              <%= form.label :女性 %>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <%= form.label :電話番号： %>
            <%= form.text_field :phone, class:"form-control", placeholder:"電話番号を入力してください" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">保存</button>
    </div>
  </form>
<% end %>
